.table {
    padding-bottom: 25px;
    display: block;
    /* width: 100%; */
}

.table-heading,
.table-body,
.table-foot,
.table-row {
    clear: both;
}

.table-head,
.table-foot {
    background-color: #DDD;
    font-weight: bold;

}

.no-border {
    border: none !important;
}

.no-text-align {
    text-align: left !important;

}

.table-cell,
.table-head {
    border: 1px solid #999999;
    float: left;
    height: 15px;
    overflow: hidden;
    padding: 2px 1.8%;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.table-cell-counter {
    float: left;
    height: 55px;
    overflow: auto;
    padding: 2px 1.8%;
    width: 125px;

}

.table:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/************/

.folds-control {
    padding-left: 6px;
    cursor: pointer;
}

/*************/
.metric-enabled {
    background-image: url(img/icons8-ok.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: center;
}

.metric-disabled {
    background-image: url(img/icons8-cancel.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: center;
}

.hide-table,
.hide-cell {
    display: none !important
}

.show-table,
.show-cell {
    display: block !important
}

textarea {
    font-size:10px;
    overflow: scroll;
    resize: none;
    white-space: pre-line;
    height: 25%;
    overflow-y: scroll;
    border: 1px solid #999999;
    padding: 3px 1.8%;
    width: 90%;
}

label.type-counter {
    padding-left: 8px;
}

.large-value {
    font-size: 2rem;
}

.details-container{
    margin-top:15px;
    height: 100%;
    overflow: scroll;
    border: solid 1px#b9b6b6;
    padding: 10px;
}

.types-counter{
    margin-top:15px;
}

.sticky-div {
    position: sticky;
    top: 0;
    background-color: #f0f0f0; 
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 10; 
  }